ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li{
    list-style-type: none;
}

nav {
    width: 100%;
    box-shadow: 0 0 10px rgb(0, 0, 0 / 8%);
}

.menu {
    position: fixed;
    top: 0px;
    left: 150px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100px;
    gap: 8px;
    width: 260px;
    height: 100%;
}

.menu li {
    display: inline-block;
    width: 90px;
}

